# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     technical_tests_sfy
    database_password: fU3sy0Lze5IO
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    google_api_key: TODO
    app_locales:
        - fr_FR
    currency: EUR
    technicalEmail: dev@cobbleweb.co.uk
    cdn_domain: 'http://test-project.dev'
    mandril_sender_name: dev@cobbleweb.co.uk